@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bungee&display=swap');

body 
{
    font-family: "Agdasima";
    margin: 0 ;
    background-image: url(https://wallpapers.com/images/hd/plano-de-fundo-de-terror-6i03es16qnpj4q5k.jpg) ;
    background-size: 100%;
    font-weight: bold;
}

h1 
{
    font-family: "Bungee";
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 3px solid rgba(255, 187, 0, 0.7);
    background-image: url(https://tomssewing.com/cdn/shop/files/C14625-ORANGE_media-1_1200x.jpg);
    background-size: 10%;
    box-shadow: 5px 5px 15px rgba(226, 132, 8, 0.8);
    color: rgb(255, 255, 255);
    text-shadow: solid#3f1c1c ;
}

fieldset 
{
    width: 85%;
    margin: auto; /*margem dentro do fildset, ou seja, a distancia entre cada elemento*/
    background-color: rgba(233, 238, 217, 0.8) ;
    padding-top: 30px;
    padding-left: 10px;
    border-radius: 15px 5px;
    box-shadow: 5px 10px 2px rgba(183, 224, 255, 0.3);
}

label.alinha 
{
    display: inline-block;
    width: 200px;
    margin: 0;
    
    text-align: right;
    margin-bottom: 7px;
}

input [name="nome-aluno"]
{
    text-align: center;
    width: 300px;
}

input [name="nota1"], [name="peso1"], [name="nota2"], [name="peso2"]
{
    text-align: center;
    width: 100px;
}

button 
{
    width: 300px;
    height: 30px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    border-radius: 15px 5px;
    margin: auto;

}

p
{
    background-color: rgba(221, 192, 153, 0.678) ;
    color: black;
    text-align: center;
    margin: 10px;
    border-radius: 5px 5px 5px;
}

legend
{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background-color: rgba(206, 240, 240, 0.7);
    border-radius: 5px 2px 7px ;
    font-size: 25px;
}

span 
{
    font-size: 20px;
    border: 1px solid white;
    background-color: rgba(226, 241, 231, 0.8);
    color: rgb(59, 36, 36);
    margin-bottom: 10px;
    display: block;
    text-align: center;

}

input.tamanho {
    width: 100px;
}